body {
  font-family: 'Noto Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



.blend-img-background {
    mix-blend-mode: multiply;
}

.publication-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.link-block {
    display: inline-block;
}

.diagram-legend {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.6;
}

.legend-symbol {
    font-size: 1.5rem;
}

.legend-symbol--small {
    font-size: 1.25rem;
}

.image-row {
    margin-bottom: 2.5rem;
}

.carousel-image {
    width: 47%;
    margin: 0 1%;
}

.qa-details {
    line-height: 1.5;
}

.qa-subdetails {
    margin: 0 0 1rem 1rem;
}

.qa-list {
    list-style-type: disc;
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .carousel-image {
        width: 100%;
        margin: 0 0 1rem;
    }
}

